body{
  background: #dfe9f5;
  margin: 0;
  padding: 0;
}
.calculator{
    margin :auto;
    border:1px solid #bff6e9;
}
.display-div {
    text-align: right;
    display: grid;
  }
  
  .display-expression {
    height: 20px;
    letter-spacing: 1px;
    font-size: 1.5em;
  }
  
  .display-value {
    font-size: 1.5rem;
  }
  
.btn-div{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3px;
}
button{
  cursor: pointer;
  font-size: 1.5rem;
  border: 1px solid white;
  padding: 30px;
  outline: none;
  background: #bff6e9;
 
}
button:hover{
  
  background: #569c8c;
 
}
.result-div{
  height:100px;
  padding:10px;
  text-align: right;
  font-size: 1.5em;
  background: #00352d;
  color:#b0cbc9;
}
.display-res{
  height: 10%;
  font-size: 1.5em;
  padding: 10px 10px 10px 5px;
}
.res{
padding: 10px;
margin: 15px 0 10px 0;
font-size: 1.5em;
}